<section>
  <ul>
    <% categories.map(category => { %>
    <li>
      <button>
        <a href="/categories/<%= category.id %>"><%= category.name %></a>
      </button>
    </li>
    <% }) %>
  </ul>
</section>
